<div class="container">
    <h3>Default Home Page</h3>

    <form role="form">
        <div class="form-group">
            <label class="" for="teacher-id">Select Teacher:</label>
            <!-- <input type="text" class="form-control" id="teacher-id" value="" ng-model="teacherId" ng-change="validateInput(teacherId)"> -->

            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    <span class="drp-selected">{{selectedTeacher.teacher_name}}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-click="drpDownSelect(teacher)" ng-repeat="teacher in teacherArr | orderBy: 'teacher_name' track by teacher.teacher_id"><a>{{teacher.teacher_name}}</a></li>
                </ul>
            </div>
        </div>

        <button type="submit" id="teacher-submit" class="btn" ng-disabled="disableSubmitBtn" ng-click="studActivityReports()" ng-class="{'btn-default': (disableSubmitBtn), 'btn-success': (!disableSubmitBtn)}">Search</button>
    </form>


</div>
