<div class="container">
    <div class="col-md-12 row-content">

        <div class="block" ng-click="openForm()">
            <div class="round">
                <img src="img/icon01.png" width="39" height="44" alt="">
            </div>
            <div class="text">
                <p>Progress Report</p>
            </div>
        </div>
        <div class="block" ng-click="openForm1()">
            <div class="round">
                <img src="img/icon01.png" width="39" height="44" alt="">
            </div>
            <div class="text">
                <p>Course Completion Report</p>
            </div>
        </div>
        <div class="block" ng-click="openForm2()">
            <div class="round">
                <img src="img/icon01.png" width="39" height="44" alt="">
            </div>
            <div class="text">
                <p>Student Activity Report</p>
            </div>
        </div>

    </div>
</div>
