<div class="container">
    <h3>Default Home Page</h3>


    <div class="row">
        <div class="col-sm-2"><label class="" for="teacher-id">Course(s):</label></div>
        <div class="col-sm-10">
            <multiselect
                ng-model="multiselectModel"
                options="c.name for c in selectOptionsObjects"
                data-multiple="true">
            </multiselect>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label class="" for="teacher-id">Course(s):</label></div>
        <div class="col-sm-10">
            <multiselect
                ng-model="multiselectModel2"
                options="c.name for c in selectOptionsObjects2"
                data-multiple="true">
            </multiselect>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button type="submit" id="teacher-submit" class="btn" ng-disabled="disableSubmitBtn" ng-click="studActivityReports()" ng-class="{'btn-default': (disableSubmitBtn), 'btn-success': (!disableSubmitBtn)}">Search</button>
        </div>
    </div>


</div>
