<div class="container">
    <!--intro-row-->
    <div class="col-md-12 row-content">

        <div class="block">
            <div class="round">
                <img src="img/icon01.png" width="39" height="44" alt="">
            </div>
            <div class="text">
                <p>Report name goes here</p>
            </div>
        </div>

        <div class="block">
            <div class="round">
                <img src="img/icon01.png" width="39" height="44" alt="">
            </div>
            <div class="text">
                <p>Report name goes here</p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="block">
            <div class="round">
                <img src="img/icon01.png" width="39" height="44" alt="">
            </div>
            <div class="text">
                <p>Report name goes here</p>
            </div>
        </div>
        <div class="block">
            <div class="round">
                <img src="img/icon01.png" width="39" height="44" alt="">
            </div>
            <div class="text">
                <p>Report name goes here</p>
            </div>
        </div>
        <div class="block">
            <div class="round">
                <img src="img/icon01.png" width="39" height="44" alt="">
            </div>
            <div class="text">
                <p>Report name goes here</p>
            </div>
        </div>
        <div class="block">
            <div class="round">
                <img src="img/icon01.png" width="39" height="44" alt="">
            </div>
            <div class="text">
                <p>Report name goes here</p>
            </div>
        </div>

    </div>
    <!--/END/intro-row-->
</div>
